@import 'variables';
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

main{
  height:100vh;
}
// Main Window Styles
.window{
  height:90%;
  overflow: auto;
  display: flex;
  flex:auto;
}
// Icons
.icon{
  display: block;
  padding:5px;
  font-style: normal;
}

// Area Setting
.area{
  min-width: 100px;
  position: relative;
  border-left: 1px solid $colorDark3;
  overflow: auto;
  // transition: width 0.1s ease-out;

  &__handle{
    width:100%;
    background:$colorDark1;
    cursor: pointer;
  }
  &__close{
    background-color: $colorDark3;
    color: #fff;
    cursor: pointer;
  }
  &__header{
    display:flex;
    &--no-events{
      pointer-events: none;
    }
  }
  &__content{
    
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--no-events{
      pointer-events: none;
    }

  }
  &__divider{
    height: 100%;
    background-color: $colorDark3;
    position: absolute;
    right:0;
    top:0;
    width: 4px;
    cursor:ew-resize;
  }
  &__image{
    max-width: 100%;
    max-height: 600px;
    padding:20px;
  }
}
// card
.card{
  width:95%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.38);
background-color: #fff;

overflow: hidden;
margin-bottom: 10px;
border-radius: 5px;
&__draggable{
  display: block;
  width:95%;
  cursor: pointer;

  padding:5px;
}
&__fold{
  padding:5px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
  &__header{
    background:$colorDark1;
    padding: 5px;
    display: flex;
  }
  &__content{
    padding: 5px;
    display: block;
  transition: max-height 0.2s ease-out, padding 0.2s ease-in;
  max-height: 200px;
  height: 100%;
  &--hide{
  overflow: hidden;
    max-height: 0;

padding:0;
  }
  }
}
// Foote Styles
.footer{
  background-color: $colorLight;
  overflow: auto;
  height:10%;
  display: flex;
  align-items: center;
  padding:10px 40px;
  justify-content: space-between;
  flex-direction: row;

  &__btn{
    background: $colorDark3;
    color:#fff;
    border:0;
    padding:10px 20px;
    cursor: pointer;
    border-radius: 5px;
    &:active{
      transform:scale(0.99);
    }
    &--disabled{
      background:$colorDark1;
      color:$colorLight;
    }
   
  }
  @media screen and (max-width:1024px) {
    padding:10px 5px;
    &__btn{
      padding: 5px 10px;
      margin:0 2.5px;
    }
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 1s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}